.tab-content {
    border: 0 !important;
    border-left: 1px solid #c8ced3 !important;
    border-right: 1px solid #c8ced3 !important;
    border-top: 1px solid #c8ced3 !important;
}
.kblbtn {
    width: 250px !important;
}
