<h3>Navigation</h3>
<hr class="line" />
<ul>
    <li><a href="GetNews">Top Page</a></li>
    <li><a href="EventCalendar">Event calendar</a></li>
    <li><a href="OfficialLogoandApplicationforEndorsments">Official Logo and Application for Endorsments</a></li>
    <li><a href="#">Embassy Events</a></li>
    <li><a href="#">Reports of the past events</a></li>
</ul>